@import url("https://fonts.googleapis.com/css?family=Economica" );
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/*General styling*/
body{
  margin: 15px;
  padding: 0;
  font-family: 'Economica', sans-serif;
  font-size: 2vw;
  text-align: center;
  background-color: #E5E4E2;
}

/*calculator*/
.calculator{
  background-color: white;
  width: 33%;
  margin: 0 auto;
  padding: 2vw
}
.block{
  display: block;
  margin: .5vw;
  font-size: 1.5vw;
}
/*Input Box*/
label{
  width: 15vw;
  display: inline-block;
  text-align: left;
  white-space: nowrap;
}
input{
  width: 10vw;
  font-size: 1.5vw;
  border: .1vw solid rgba(0,0,0, .25);
  box-sizing: border-box;
  padding: .5vw 0px .5vw .5vw;
  outline: none;
  transition: all 0.40s ease-in-out
}
/*twitter focus*/
input:focus{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: .1vw solid rgba(81, 203, 238, 1);
  margin: 0 auto;
}

/*Clear & Submit Button*/
button{
  margin-top: 5.3vw;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 2vw;
  padding: 0 1.5vw 0 1.5vw;
  transition: all 200ms ease;
  text-transform: uppercase;
  font-family: 'Montserrat', Arial, sans-serif;
  letter-spacing: 2px;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  transition: all .75s ease
}
.buttonCalc:hover{
  background-color: rgba(85, 170, 85, .4);
}
.buttonClear:hover{
  background-color: rgba(212, 106, 106,.4);
}
button:focus{
  outline: 0
}
/*answer*/
.answer{
  color: #55AA55;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%)
}

/*explanation How to Use*/
.userInterface{
  text-align: center;
  margin-top: 2vw;
  padding: 0;
}

.userInterface ul{
  list-style: decimal;
  list-style-position: inside;
  background-color: white;
  width: 33%;
  margin: 0 auto;
  padding: 2vw

}
.userInterface li{
  text-align: left;

}
/*github icon*/
.contact{
  top: 0;
  position: absolute;
  left: 0;
  margin: 2vw;
  transition: all 500ms ease
}
a {
  color: inherit;
  text-decoration: none;
}
.fa-user-o, .fa-github{
  margin: 10px;
  display: block;
  transition: all 500ms ease;
  cursor: pointer;
  text-decoration: none;
}
.fa-github:hover{
  transform: translateY(-3px)
}

.fa-user-o:hover{
  transform: translateY(-3px)
}
/*Media query for phones*/
@media (max-width: 700px){

.calculator{
  width: 80%;
}

.userInterface ul{
  width: 80%;
}

input, label{
  width: 30%;
  font-size: 5vw;
  display: block;
  margin: 0 auto;
}

.contact{
  bottom: 0;
  position: relative;
  margin: 2vw;
  transition: all 500ms ease
}

.fa-user-o, .fa-github{
  display: inline-block;
  font-size: 15vw;
}

.answer{
  font-size: 10vw;
  position: relative;
  margin-top: 5vw;
}

.userInterface, button{
  font-size: 5vw;
}

h2{
  font-size: 8vw;
  margin: 0;
  margin-bottom: 5vw;
}

}
